fastapi[standard]
uvicorn
python-dotenv
google-generativeai
opencv-python-headless
numpy
onnxruntime
pillow
torch
scipy
ultralytics
python-multipart
edge_tts
gTTS
requests
pydantic
urllib3
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
chromadb